# Environments
.env
.env*.local
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.onnx

# Node
node_modules/
.npm
dist/

# IDE & OS
.vscode/
.idea/
# Project Planning & Internal Notes
PLAN.md

